src/main/resources/XML/airport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="airport" type="airportType"/>
    <xs:complexType name="Right_PropertiesType">
        <xs:sequence>
            <xs:element type="xs:string" name="Designator"/>
            <xs:element type="xs:double" name="TORA" maxOccurs="1"/>
            <xs:element type="xs:double" name="TODA" maxOccurs="1"/>
            <xs:element type="xs:double" name="ASDA" maxOccurs="1"/>
            <xs:element type="xs:double" name="LDA" maxOccurs="1"/>
            <xs:element type="xs:double" name="Clearway" maxOccurs="1"/>
            <xs:element type="xs:double" name="Stopway" maxOccurs="1"/>
            <xs:element type="xs:double" name="Displacement_Threshold" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Left_PropertiesType">
        <xs:sequence>
            <xs:element type="xs:string" name="Designator"/>
            <xs:element type="xs:double" name="TORA" maxOccurs="1"/>
            <xs:element type="xs:double" name="TODA" maxOccurs="1"/>
            <xs:element type="xs:double" name="ASDA" maxOccurs="1"/>
            <xs:element type="xs:double" name="LDA" maxOccurs="1"/>
            <xs:element type="xs:double" name="Clearway" maxOccurs="1"/>
            <xs:element type="xs:double" name="Stopway" maxOccurs="1"/>
            <xs:element type="xs:double" name="Displacement_Threshold" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RunwayType">
        <xs:sequence>
            <xs:element type="xs:double" name="Resa_Height" maxOccurs="1"/>
            <xs:element type="xs:double" name="Resa_Width" maxOccurs="1"/>
            <xs:element type="Right_PropertiesType" name="Right_Properties"/>
            <xs:element type="Left_PropertiesType" name="Left_Properties"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Runway_ObstacleType">
        <xs:sequence>
            <xs:element type="xs:string" name="Obstacle_Designator"/>
            <xs:element type="xs:double" name="Obstacle_Height"/>
            <xs:element type="xs:double" name="Obstacle_Width"/>
            <xs:element type="xs:double" name="Obstacle_Length"/>
            <xs:element type="xs:double" name="Distance_From_Threshold"/>
            <xs:element type="xs:double" name="Distance_From_Other_Threshold"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RunwaysType">
        <xs:sequence>
            <xs:element type="RunwayType" name="Runway" maxOccurs="unbounded"/>
            <xs:element type="Runway_ObstacleType" name="Runway_Obstacle" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="airportType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:double" name="Latitude"/>
            <xs:element type="xs:double" name="Longitude"/>
            <xs:element type="RunwaysType" name="Runways"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>