src/main/resources/XML/Airport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="airport" type="airportType"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="Longitude" type="xs:double"/>
  <xs:element name="Latitude" type="xs:double"/>
  <xs:complexType name="Right_PropertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="Designator"/>
      <xs:element type="xs:double" name="TORA" maxOccurs="1"/>
      <xs:element type="xs:double" name="TODA" maxOccurs="1"/>
      <xs:element type="xs:double" name="ASDA" maxOccurs="1"/>
      <xs:element type="xs:double" name="LDA" maxOccurs="1"/>
      <xs:element type="xs:double" name="Clearway" maxOccurs="1"/>
      <xs:element type="xs:double" name="Stopway" maxOccurs="1"/>
      <xs:element type="xs:double" name="Displacement_Threshold" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Left_PropertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="Designator"/>
      <xs:element type="xs:double" name="TORA" maxOccurs="1"/>
      <xs:element type="xs:double" name="TODA" maxOccurs="1"/>
      <xs:element type="xs:double" name="ASDA" maxOccurs="1"/>
      <xs:element type="xs:double" name="LDA" maxOccurs="1"/>
      <xs:element type="xs:double" name="Clearway" maxOccurs="1"/>
      <xs:element type="xs:double" name="Stopway" maxOccurs="1"/>
      <xs:element type="xs:double" name="Displacement_Threshold" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RunwayType">
    <xs:sequence>
      <xs:element type="xs:double" name="Resa_Height"/>
      <xs:element type="xs:double" name="Resa_Width"/>
      <xs:element type="Right_PropertiesType" name="Right_Properties"/>
      <xs:element type="Left_PropertiesType" name="Left_Properties"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Runway_ObstacleType">
    <xs:sequence>
      <xs:element type="xs:double" name="Obstacle_Height"/>
      <xs:element type="xs:double" name="Obstacle_Width"/>
      <xs:element type="xs:double" name="Obstacle_Length"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RunwaysType">
    <xs:sequence>
      <xs:element type="RunwayType" name="Runway"/>
      <xs:element type="Runway_ObstacleType" name="Runway_Obstacle"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airportType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="Latitude"/>
      <xs:element type="xs:string" name="Longitude"/>
      <xs:element type="RunwaysType" name="Runways"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>