src/main/resources/XML/airport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="airport" type="airportType"/>
  <xs:complexType name="Right_PropertiesType">
    <xs:sequence>
      <xs:element type="xs:double" name="TORA"/>
      <xs:element type="xs:double" name="TODA"/>
      <xs:element type="xs:double" name="ASDA"/>
      <xs:element type="xs:double" name="LDA"/>
      <xs:element type="xs:double" name="Clearway"/>
      <xs:element type="xs:double" name="Stopway"/>
      <xs:element type="xs:double" name="Displacement_Threshold"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Left_PropertiesType">
    <xs:sequence>
      <xs:element type="xs:double" name="TORA"/>
      <xs:element type="xs:double" name="TODA"/>
      <xs:element type="xs:double" name="ASDA"/>
      <xs:element type="xs:double" name="LDA"/>
      <xs:element type="xs:double" name="Clearway"/>
      <xs:element type="xs:double" name="Stopway"/>
      <xs:element type="xs:double" name="Displacement_Threshold"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObstacleType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="Width"/>
      <xs:element type="xs:string" name="Height"/>
      <xs:element type="xs:string" name="Length"/>
      <xs:element type="xs:string" name="Position"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RunwaysType">
    <xs:sequence>
      <xs:element type="xs:string" name="Runway"/>
      <xs:element type="xs:string" name="Designator"/>
      <xs:element type="xs:double" name="Resa_Height"/>
      <xs:element type="xs:double" name="Resa_Width"/>
      <xs:element type="xs:ObstacleType" name="Obstacle"/>
      <xs:element type="Right_PropertiesType" name="Right_Properties"/>
      <xs:element type="Left_PropertiesType" name="Left_Properties"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airportType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="Latitude"/>
      <xs:element type="xs:string" name="Longitude"/>
      <xs:element type="RunwaysType" name="Runways"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>